@media print {
  body * {
    visibility: hidden;
  }
  #preview,
  #preview * {
    visibility: visible;
  }
  #preview {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.appWrapper {
  margin: auto;
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  border: 3px solid black;
  margin: 1em;
}

.editorContainer {
  height: fit-content;
  flex-grow: 1;
}

.previewContainer {
  width: 700px;
}

.disabled {
  position: absolute;
  right: 100%;
}

.header {
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.header > * {
  margin: 0.2rem;
}

.actionsNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionsNav > * {
  margin: 0 0.2rem;
}

textarea.content {
  width: 94%;
}

.content {
  padding: 0.5em;
}
